@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Packed Lunch</h1>
    <p class="lead">Packed Lunch desenvolvendo soluções inteligentes e ageis para fornecidamento de alimentos para seus colaboradores.</p>
    @Html.ActionLink("Saiba mais", "About", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastre sua empresa</h2>
        <p>
            Agilize o fornecimento de alimtos para sua equipe e diminua a fadiga de seus
            colaboradores com incessantes deslocamentos no horário de almoço.
        </p>
        @Html.ActionLink("Cadastro empresa", "Create", "Empresas", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4">
        <h2>Cadastre seu restaurante</h2>
        <p>Caso tenha um restaurante e queira se tornar um fornecedor cadastre-se.</p>
        @Html.ActionLink("Cadastro restaurante", "Create", "Restaurantes", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4">
        <h2>Entregadores</h2>
        <p>Quer trabalhar como autonomo e fazer entregas com sua moto faça seu cadastro.</p>
        @Html.ActionLink("Cadastro entregador", "Create", "Entregadors", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>